@model CodingEventsDemo.ViewModels.EventDetailViewModel;

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Contact Email
        </th>
        <th>
            Event Type
        </th>
        <th>
            Tags
        </th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
        <td>
            @Model.ContactEmail
        </td>
        <td>
            @Model.CategoryName
        </td>
        <td>
            @Model.TagText
        </td>
    </tr>
</table>


<a asp-controller="Tag" asp-action="AddEvent" asp-route-id="@Model.EventId">Add Tag</a>